<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>預約系統</title>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="mainCtrl">

    <div ng-show="showreservationstatus" style="
    position: fixed;
    top: 30%;
    left: 30%;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px gray;
">
    <h3>預約成功</h3>
    <p>業務將於一天內連繫您</p>
    <p>感謝您的填寫</p>

    <button ng-click="showreservationstatus=false">關閉</button>
</div>

    <h2>預約表單</h2>

    <!-- 成功 / 錯誤訊息 -->
    <p style="color:green">{{successMsg}}</p>
    <p style="color:red">{{errorMsg}}</p>

    <form ng-submit="submitForm()">
        
        姓名：
        <input type="text" ng-model="form.name" >
        <p style="color:red">{{errors.name}}</p>

        <br>

        電話：
        <input type="text" ng-model="form.phone" >   
        <p style="color:red">{{errors.phone}}</p>

        <br>

        Email：
        <input type="text" ng-model="form.email" >
        <p style="color:red">{{errors.email}}</p>

        <br>
        
        國家：
        <select ng-model="form.countryId">
            <option value="">請選擇</option>
            <option value="1">台灣</option>
            <option value="2">美國</option>
            <option value="3">英國</option>
        <br>
        </select>


        <p style="color:red">{{errors.countryId}}</p>

        <br>

        需求：
        <textarea ng-model="form.requirement"></textarea>
        <p style="color:red">{{errors.requirement}}</p>

        <br>
        <br>

        <button type="submit">送出</button>

    </form>
    

<script>
var app = angular.module("app", []);

app.controller("mainCtrl", function($scope, $http) {

    $scope.form = {};
    $scope.errors = {};
    $scope.showreservationstatus = false;  

    $scope.submitForm = function() {

        $scope.errors = {}; // ⭐ 清空錯誤

        $http.post("http://localhost:8080/api/appointments", $scope.form)

        
        .then(function(response) {

            if(response.data.success) {
            // $scope.successMsg = response.data.message;
            // alert("預約成功\n業務將於一天內連繫您\n感謝您的填寫");
            $scope.showreservationstatus = true;   // ⭐ 開視窗
            $scope.errorMsg = "";
            $scope.form = {}; // 清空表單

            } else {
                    $scope.errorMsg = response.data.message;
                    $scope.errors = response.data.data || {};
            }
         }, function(error) {
            $scope.errorMsg = "系統錯誤";
        });
    }
}); 
</script>

</body>
</html>