<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script src="/app.js"></script>
    <script src="/services/authService.js"></script>
    <script src="/controllers/loginController.js"></script>
</head>

<body ng-controller="LoginController">

    <h2>Login</h2>

    <input type="text" ng-model="loginForm.email" placeholder="Email">
    <input type="password" ng-model="loginForm.password" placeholder="Password">

    <button ng-click="login()">Login</button>

    <p>{{message}}</p>

</body>
</html>